// Variables

$light-grey: #ccc;
$dark-grey: #222;
$light-blue: #68c3d8;
$white: #fff;

$text-color: $dark-grey;

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
$droid-sans: 'Droid Sans', sans-serif;